.page-container {
    /* max-width: 1080px; */
    background: transparent url('../../assets/hotline-banner/hotline-banner@2x.png') no-repeat center center fixed;

    /* background: transparent url('../../assets/hotline-banner/hotline-banner@2x.png') no-repeat center center fixed;  */

    /* padding-top: 70px; */
    /* height: calc(100vh - 70px); */
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    background-size: cover;
}

.page-container-main {
    max-width: 1080px;
    height: auto;
    width: 80%;
    padding-top: 10%;
    position: relative;
    margin-top: 70px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.landing-page-container {
    justify-content: flex-start;
    padding-left: 9%;
    /* height: 100%; */
    /* height: calc(100vh - 70px); */
    /* padding-top: 75px; */
}

.landing-page-item {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 22rem;
    /* max-height: 20rem;
    min-height: 10rem; */
}

.landing-page-item__large_text {
    font: Bold 43px/47px D-DIN DIN;
    letter-spacing: 0;
    color: #FFFFFF;
    margin-bottom: 10%
}

.landing-page-item__input {
    margin-bottom: 5%;
    /* height: 40%; */
    /* width: 391px; */
    height: 60px;
    max-width: 391px;
    min-width: 195px;
    max-height: 60px;
    min-height: 29px;
    
}

.landing-page-item__input input {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    padding: 3%;
    padding-left: 5%
}

.landing-page-item__input > input::placeholder,  .landing-page-item__input > input::-webkit-input-placeholder, .landing-page-item__input > input:-ms-input-placeholder, .landing-page-item__input > input:-moz-placeholder {
    text-align: left;
    font: 14px/24px Circular Std Book;
    letter-spacing: 0;
    color: #808080;
    height: 100%;
}

.landing-page-item__button {
    background: #DF3838 0% 0% no-repeat padding-box;
    /* width: 391px; */
    /* height: 60px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6%;
    height: 60px;
    max-width: 391px;
    min-width: 195px;
    
    max-height: 60px;
    min-height: 29px;
    cursor: pointer;
}


.landing-page-item__button__text {
    font: 10px/25px Circular Std Bold;
    letter-spacing: 0;
    color: #FFFFFF;
}

.landing-page-item__small_text {
    font: 12px/25px Circular Std Book;
    letter-spacing: 0;
    color: #FFFFFF;
}
