.footer-container {
    /* width: 100%; */
    position: relative;
    bottom: 0;
    height: 8rem;
    clear: both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    background-color: white;
}

.footer-main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer-main__top-section {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding-bottom: 1%;
    padding-top: 1%;
    width: 100%;
    height: 50%;
    border-bottom: 0.75px solid #E4E4E4;
}

.footer-main__top-section__item {
    display: flex;
    /* justify-content: space-evenly; */
    cursor: pointer;
    width: 30%;
}

.footer-main__top-section__item__image {
margin-right: 7%
}

.footer-main__top-section__item__text {

}

.footer-main__top-section__item__text-top {
    text-align: left;
    font: 14px/25px Circular Std Book;
    letter-spacing: 0;
    color: #EB3232;
}

.footer-icon .c {
    fill: white;
    stroke: none;
}

.footer-main__top-section__item__text-bottom {
    text-align: left;
    font: 18px/25px Circular Std Bold;
    letter-spacing: 0;
    color: #262626;
}

.footer-main__bottom-section {
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: space-between;
    align-items: center;
}

.footer-main__bottom-section__left {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.footer-main__bottom-section__left__powered-by, .footer-main__bottom-section__left__copyright, .footer-main__bottom-section__right__change-language, .footer-main__bottom-section__right__language__text {
    font: 10px/25px Circular Std Book;
    letter-spacing: 0;
    color: #AFAFAF;
}

/* .footer-main__bottom-section__left__copyright{
    font: Regular 10px/25px Circular Std Book;
letter-spacing: 0;
color: #AFAFAF;
} */

.footer-main__bottom-section__right {
    display: flex;
    width: 16%;
    justify-content: space-between;
}

.footer-main__bottom-section__right__change-language {
    display: flex;
}

.footer-main__bottom-section__right__language {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
