html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
@font-face {
  font-family: "Circular Std Book";
  src: url(./assets/fonts/CircularStdFont/CircularStd-Book.otf)
}
@font-face {
  font-family: "Circular Std Bold";
  src: url(./assets/fonts/CircularStdFont/CircularStd-Bold.otf)
}
@font-face {
  font-family: "D-DIN DIN";
  src: url(./assets/fonts/d-din/D-DIN-Bold.otf)
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
